.table-view {
   
    -fx-padding: 5;
}
#mainWindow {
	-fx-background-image: url("ThisCow.jpg");
}
#gameWindow {
	-fx-background-image: url("cowGame.jpg");
}
#buttonPlay {
	-fx-background-color: transparent;
	-fx-font-size: 20px;
	-fx-background-image: url("buttonCPlay.png");
}
#buttonRules {
	-fx-background-color: transparent;
	-fx-font-size: 20px;
	-fx-background-image: url("buttonCRules.png");
}
#buttonExit {
	-fx-background-color: transparent;
	-fx-font-size: 20px;
	-fx-background-image: url("buttonCExit.png");
}



